body { 
    background-color: #FDFFFC; 
}
p { 
  color: #141115; 
}


/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.jumbotron .h1, .jumbotron h1{
  color: #6F1D1B;
}

.jumbotron p{ 
  color: #E8C547; 
}

.avatar{
      border-radius: 50%;
      width: 128px;
      height: 128px;
      object-fit: cover;
}

.avatar-xs{
      border-radius: 50%;
      width: 45px;
      height: 45px;
      object-fit: cover;
}
.color{ 
    background: url(images/clap.jpeg);
    background-size: cover 
}

.banner {
  background: linear-gradient(135deg, rgba(56, 57, 59, 0.2) 0%, rgba(84, 82, 16, 0.4) 100%), 
 url(images/cinema.jpeg);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 150px 100px;font-family: avenir, monospace;
}

.banner h1 {
  font-family: Courier New, monospace;
  color: white;
}

.blanc{
  color: white;
}

body {
  margin: 20px;
  font-family: Arial;
}

.button {
  background: #1989AC;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 30px;
}

.button:hover {
  background: #283E56;
}

.button-danger {
  background: #FEE62A;
}

.button-danger:hover {
  background: #CF0A2C;
}

.button-success {
  background: #8BC34A;
}

.button-success:hover {
  background: #4CAF50;
} 

.button-sm {
  font-size: 60%;
  padding: 6px 10px;
}

.button-lg {
  font-size: 120%;
  padding: 12px 20px;
}

.button-block {
  display: block;
  text-align: center;
  margin: 12px 0;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
